<div id="add_article">
    <form action="add.php" method="post">
        Titel: <input type="title" name="title">
        Link zum Bild: <input type="url" name="url">
        Text: <input type="text" name="text" placeholder="Text">
        <input type="submit" value="Send">
    </form>
</div>